@import "tailwindcss";
body {
  background-color: #FFF8E6;
}
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
